#wpadminbar{
    position: fixed;
}
.site {
	display: grid;
	grid-template-areas:
        "sidebar"	
        "header"
        "main"
		"footer";

        overflow-x: hidden;
    }
@media screen and (min-width: $largeur__media-tablette) {
    .site {
        gap : 10px;
        grid-template-columns: ($size__site-sidebar) auto;
        grid-template-areas:
		"header header"
		"sidebar main"
		"footer footer";
    }
    .home {
        gap : 0px;
        grid-template-areas:
        "sidebar sidebar"	
        "header header"
        "main main"
		"footer footer";

        overflow-x: hidden;

    }
}
.site_header {
    grid-area: header;
    background-color: $color__background-header;
}
.site_barre {
    grid-area: sidebar;
    background-color: $color__background-barre;
}
.site_main {
    grid-area: main;
    background-color: $color__background-main;
}
.site_footer{
    grid-area: footer;
    background-color: $color__background-footer;
}