 .animation_titre{
    animation : anim-entete 2s forwards;
}


@keyframes anim-entete{
    0% {
        transform: translateY(-11vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
