.animation{
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    &_bloc{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: blue;
        color: white;
        font-size: 3rem;
        animation : anim-entete 1s forwards;

        &:nth-of-type(1) {
            animation: anim-entete 1s 0s forwards;
        }
        &:nth-of-type(2) {
            animation: anim-entete 1s .25s forwards;
        }
        &:nth-of-type(3) {
            animation: anim-entete 1s .50s forwards;
        }
        &:nth-of-type(4) {
            animation: anim-entete 1s .75s forwards;
        }
        &:nth-of-type(5) {
            animation: anim-entete 1s 1s forwards;
        }

    }
}

@keyframes anim-entete{
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(0);
    }
}