.animation_contenu {
    font-size: clamp(1rem, 2vw, 1.4rem);

    p:nth-of-type(1) {
       animation: anim-contenu-left-to-right 2s 0.5s backwards;
    }
    p:nth-of-type(2) {
       animation: anim-contenu-right-to-left 3s 0.75s backwards;
    }
    p:nth-of-type(3) {
       animation: anim-contenu-left-to-right 2s 1s backwards;
    }
    p:nth-of-type(4) {
       animation: anim-contenu-right-to-left 3s 1.25s backwards;
    }
    p:nth-of-type(5) {
       animation: anim-contenu-left-to-right 2s 1.5s backwards;
    }
    p:nth-of-type(6) {
       animation: anim-contenu-right-to-left 3s 1.75s backwards;
    }

}
.animation_titre{
    animation : anim-entete 2s backwards;
}


@keyframes anim-entete{
    0% {
        transform: translateY(-11vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes anim-contenu-left-to-right{
    0% {
        transform: translateX(-11vh);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes anim-contenu-right-to-left{
    0% {
        transform: translateX(40vh);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
