$color__background-body: rgb(255, 255, 255);
$color__background-header: rgb(106, 190, 216);
$color__background-barre:rgb(213, 245, 255);
$color__background-footer:rgb(14, 14, 14);
$color__background-main:rgb(187, 239, 255);

$color__background-body_404 : rgb(230, 250, 255);
//Links
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$background_link_hover: blue;
//Links footer
$color__link_footer: #e14141; 
$color__link_footer-visited: #0f8000; 
$color__link_footer-hover: #6e7019; 

//Links header
$color__link_header: #5580f8; 
$color__link_header-visited: #530083; 
$color__link_header-hover: #49719e; 

