$font_header-h1:'Poppins', sans-serif;
$font_header-h2:'trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
$font_nav-a: 'trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;

$police_h1: 'Montserrat', sans-serif;
$police_h3: 'Poppins', sans-serif;
$police_h5: 'Roboto', sans-serif;

$police_p: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

