.site {
    background-color: $color__background-body;
    color:rgb(0, 0, 0);
    width: 100vw;
}

.site_main {
    display: flex;
    background-color: $color__background-main;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
}

.site_carte_main {
    display: flex;
    background-color: $color__background-main;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.site_main_front_page {
    display: flex;
    background-color: $color__background-main;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    align-items: flex-start;
}

.main_titre {
    font-size: clamp(2rem, 3vw, 3rem);
    display: flex;
    width: 100%;
    justify-content: center;
}

.site_main_front_page > p {
    font-size: clamp(1rem, 2vw, 1.4rem);
}

.info_extra {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.4rem);
}

.carte {
    background-color: rgb(224, 241, 255);
    border: 1px black solid;
    border-radius: 2%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 20px;
    @media screen and (min-width: $largeur__media-tablette) {
        width: 100%;
    }
    @media screen and (min-width: $largeur__media-desktop1) {
        width: 45%;
    }
    @media screen and (min-width: $largeur__media-desktop2) {
        width: 30%;
    }
}

.carte_titre {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.carte_info {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.carte_contenu {
    font-size: 1rem;
    color: rgb(66, 66, 66);
}
