.site_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: rgb(199, 199, 199);

    .footer {

        &_contact{
            background-color: rgb(132,236,91);
            width: 30%;
            list-style-type: none;
            border:1px solid white;
        }

        &_links{
            background-color: rgb(82,185,159);
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border:1px solid white;

        }

        &_parag{
            background-color: rgb(172,55,123);
            width: 30%;
            text-align: justify;
            border:1px solid white;
        }
    }

    &_info{
        background-color: rgb(56, 56, 56);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    &_droit {
        padding: 20px;
    }
    
}

.footer_menu_ul {
    list-style-type: none;
}


