@mixin navCours(){
            padding: 10px;
            margin : 15px 15px;
            background-color: $color_bouton_background;
            border: 1px solid rgb(120, 181, 221);
            border-radius: 10px;
            text-align: center;
            
             a {
                 color : $color_bouton_color;
                 text-decoration: none;
             }

             &:hover {
                 background-color: $color_bouton_background--hover;

                 a {
                    color : $color_bouton_color--hover;
                    text-decoration: none;
                }
             }
}

/* --------------------------------------------------------------
Navigation pour la page category.php   boutons de catégorie  groupe-1
----------------------------------------------------------------- */
.menu-categorie_cours-container
{ //nav

    .menu {  //ul
        display : flex;
        list-style-type: none;
        flex-direction: column;

        @media screen and (min-width: $largeur__media-desktop1) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .menu-item { //li
            @include navCours()
        }

        .current-menu-item{
            background-color: $color_bouton_background--current;
    
            a {
               color : $color_bouton_color--current;
               text-decoration: none;
           }
        }
    }
    
}

.ordre_cours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ordre {
    @include navCours();
    text-decoration: none;
    width: 70px;
    height: 40px;
}