#chk-burger  {
    display: none;
}

.site_barre > nav {
    display: none;
    flex-direction: column;    

    @media screen and (min-width: $largeur__media-tablette) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.site_barre > nav > ul > li {
    border: 1px solid red;
}
#burger {
    position : absolute;
    transform : rotate(0deg);
    transition : transform .3s;
}

#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}

#chk-burger:checked ~ #burger ~ nav {
    display: flex;
    flex-direction: column;    
}

.menu {
    list-style: none;
    margin: 16px;
    padding: 0px;
}
.menu-item {
    margin: 0 0 0 10px;
    padding: 0;
    a{
        padding : 5px;
        text-decoration: none;
        &a:hover{
            background-color: $background_link_hover;
            text-decoration: none;
        }
    }
   
}
@media screen and (min-width: $largeur__media-tablette) {
    #burger {
        display: none;
    }
    .menu-principal-container{
        display: block;
    }
}