.menu-accueil-container {//nav

    .menu {
        display: flex;
        justify-content: space-around;  
        flex-wrap: wrap;

        .menu-item {
            width: 15%;
            padding: 10px;
            background-color: $color_bouton_background;
            a{
                color: $color_bouton_color;
                font: 1.5rem;
                .menu-item-description{
                    font-size: 1rem;
                }
            }

            &:hover {
                background-color: $color_bouton_background--hover;
                a{
                    color: $color_bouton_color--hover;
                }
            }
        }
    }
}