/* --------------------------------------------------------------
Navigation pour la page category.php   boutons de catégorie  groupe-1
----------------------------------------------------------------- */
.menu-categorie_cours-container
{ //nav

    .menu {  //ul
        display : flex;
        list-style-type: none;
        flex-direction: column;

        @media screen and (min-width: $largeur__media-desktop1) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .menu-item { //li

            margin : 0 15px;

             a {
                 text-decoration: none;
             }
        }


    }
}