@mixin links($color_link,
			$color__link-visited,
			$color__link-hover){

	color: $color_link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
	
}

a {
	@include links($color__link, 
					$color__link-visited,
					$color__link-hover);
}
.site_footer a {
	@include links($color__link_footer, 
					$color__link_footer-visited, 
					$color__link_footer-hover);
}

.site_header_title a{
	@include links($color__link_header, 
					$color__link_header-visited, 
					$color__link_header-hover);
}

